@{
    ViewData["Title"] = "Ana Sayfa";
}

		<div class="container ana-metin">
			<div class="container ">
				<div class="row ">
					<p class="mt-3">
						Turuncu otoyıkamaya hoşgeldiniz. Sizlere en iyi hizmeti verebilmek için oluşturduğumuz websitemizde
					hizmetlerimizden sıra beklemeden faydalanabilirsiniz. Hemen randevu ala basarak randevunuzu oluşturun.
					</p>
					<div class="col-md-3">
						<img src="./resimler/Otopark.jfif" class="img-fluid float-md-start resimler" title="Turuncu Otoyıkama" alt="Turuncu Otoyıkama">
						<p class="text-center resim-altı-yazı text-muted"> 
						Turuncu Otoyıkama
						</p>
					</div>
					<div class="col-md-6">
						<p>
							Burada gördüğünüz otopark alanında araçlarınız saklanmakta ve güvenle tutulmaktadır.
							Aynı zamanda yıkama gibi diğer hizmetlerimizden faydalanmak istediğinizde aracınızı bu alanlarda
							tutarak kendi işinizi görmeye gidebilirsiniz. Daha da iyisi eğer yakınlardaysanız aracınızı kapınıza kadar
							getirebilir veya aracı sizden teslim alıp yıkayıp geri getirebiliriz.
						</p>
					</div>
					<div class="col-md-3">
						<img src="./resimler/Otopark2.jfif" class="img-fluid float-md-start resimler" title="Turuncu Otoyıkama" alt="Turuncu Otoyıkama">
						<p class="text-center resim-altı-yazı text-muted">
							Turuncu Otoyıkama
						</p>
					</div>
				</div>
			</div>
		</div>
